<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Form1.Properties.Settings.ToDoListDBConnectionString"
            connectionString="Data Source=DESKTOP-QVSA1DH\SQLEXPRESS;Initial Catalog=ToDoListDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Form1.Properties.Settings.myDBConnectionString" connectionString="Data Source=YIGITARICAN\SQLEXPRESS;Initial Catalog=myDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>